version: '3.1'

volumes:
  kong_data: {}

networks:
  kong-ee-net:
    
services:
  
  replicador:
    build: .
    image: "simplehttpserver:latest"
    networks:
      - kong-ee-net
      
  kong-database:
    image: "postgres:9.6"
    networks:
      - kong-ee-net
    ports: 
      - "5432:5432"
    environment:
      POSTGRES_USER: kong
      POSTGRES_DB: kong
      POSTGRES_PASSWORD: kong
      POSTGRES_HOST_AUTH_METHOD: trust
  
  kong-migrations:
    depends_on:
      - kong-database
    image: "kong-ee"
    networks:
      - kong-ee-net
    command: kong migrations bootstrap
    environment:
      KONG_DATABASE: postgres 
      KONG_PG_HOST: kong-database
      KONG_PG_PASSWORD: kong
      KONG_PASSWORD: kong
  
  kong:
    depends_on:
      - kong-database
    image: "kong-ee"
    networks:
      - kong-ee-net
    ports:
      - "8000:8000"
      - "8443:8443"
      - "8001:8001"
      - "8444:8444"
      - "8002:8002"
      - "8445:8445"
      - "8003:8003"
      - "8004:8004"
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_PASSWORD: kong
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_ADMIN_GUI_URL: http://localhost:8002

